/* hier de algemene CSS voor deze eigenaar */

th, td {
    vertical-align: baseline !important;
}

th {
    font-weight: normal;
}

.imvertor-info {
    color: gray;
    font-size: 80%;
}

/* *
 * Primer specifieke CSS
 * */

span.primer::before {
    content: "Primer";    
}
span.mim::before {
    content: "MIM";    
}
span.logo {
    border: 1px solid gray;
    border-radius: 0.5em;
    padding: 0em 0.3em;
}
span.logo.primer {
    background: #f2dfbe;
}
span.logo.mim {
    background: #b7dced;
}

span.logo {
    text-decoration: none;
}

.box_example {
    background: #fcfaee;
}

/*  pas tabellen aan */
tbody {
	background-color: white !important;
}

td {
	min-width: 1em !important;
}

div.topline {
    color: gray;
    font-size: 80%;
    border-bottom: 1px solid gray;
}

/* Tegengaan dat rijen om-en-om worden gehighlight */
tr:nth-child(even),
tr:nth-child(odd) {
    background: inherit !important;
}

table {
    border-bottom: inherit !important;   
}
/* Geen lijnen om de  */
table th, table td {
    border: none !important;
}

/* nettere uitlijning van labels en waarden */

th[scope="row"] {
    padding: 0.25rem 0.25rem 0.25rem 0rem !important;
}
table th, 
table td {
   padding: 0.25em;
}

table tr {
    border-bottom: 1px solid #31b6bf;
}
table.overview {
    border: none;
}
table.overview tr {
    border-bottom: none;
}

/* URL getoond als courier */
span.url {
     font-family: Courier, sans-serif;
}
