/* hier de algemene CSS voor deze eigenaar */

th, td {
    vertical-align: baseline !important;
}

.imvertor-info {
    color: gray;
    font-size: 80%;
}

tr:nth-child(even),
tr:nth-child(odd) {
    background: inherit !important;
}

table {
    border-bottom: inherit !important;   
}