/* hier de algemene CSS voor deze eigenaar */

th, td {
    vertical-align: baseline !important;
}

.imvertor-info {
    color: gray;
    font-size: 80%;
}

/*  pas tabellen aan */
tbody {
	background-color: white !important;
}

td {
	min-width: 1em !important;
}

div.topline {
    color: gray;
    font-size: 80%;
    border-bottom: 1px solid gray;
}

/* Tegengaan dat rijen om-en-om worden gehighlight */

tr:nth-child(even),
tr:nth-child(odd) {
    background: inherit !important;
}

/* Geen lijnen om de tabel en haar cellen als het niet als tabel bedoeld is */

table.overview {
    border: none !important;   
}

table.overview tr, 
table.overview th, 
table.overview td {
   border: none !important;
   padding: 0em;
}

/* nettere uitlijning van labels en waarden */

th[scope="row"] {
    padding: 0.25rem 0.25rem 0.25rem 0rem !important;
}
table th, 
table td {
   padding: 0.25em;
}
table tr {
   border-bottom: none;
} 

/* URL getoond als courier */

span.url {
     font-family: Courier, sans-serif;
}
